*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.all{
    width: 1200px;     
    margin: 0 auto;    
    padding: 0 ; 
}

.headerback{
    background-color: #1D202C;
    color: white;
    border-bottom: 4px solid white;
}

.header{
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
}

.nav{
    display: flex;
    gap: 60px;
}

.icon{
    max-width: 100px;
    max-height: 75px;
}

a{
    text-decoration: none;
    color: inherit;
    font-weight: 400;
}

.sec1back{
    background-color: #1D202C;
    color: white;
    min-height: 480px;
}

.sec1{
    display: flex;
    padding-top: 88px;
    justify-content: space-between;
    align-items: center;

}

.bigtxt{
    font-size: 48px;
    font-weight: 800;
}

p{
    font-size: 24px;
    font-weight: 400;
}

.btn1{
    max-width: 360px;
    padding: 14px;
    margin: auto 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: #587DFF;
}

.maintxt1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 300px;
    width: 500px;
}

.sec2{
    display: flex;
    padding-top: 88px;
    flex-wrap: wrap;
}

.img1, .img2, .img3{
    width: 300px;
    height: 300px;
}

h2{
    display: flex;
    flex:1 1 100%;
    justify-content: center;
    align-content: center;
    font-size: 48px;
    font-weight: 800;
    color: #1D202C;
    margin-bottom: 88px;
}

.items{
    display: flex;
    margin: auto;
    gap: 80px;
    margin-bottom: 88px;
}

.imgtxt{
    color: #1D202C;
    text-align: center;
    margin-top: 20px;
}

.sec3back{
    background-color: #d9d9d9;
    color: #1D202C;
    min-height: 480px;
}

.sec3{
    display: flex;
    flex-direction: column;
    gap: 28px;
    justify-content: center;
    align-items: center;
    padding-top: 88px;
    width: 900px;
    margin: auto;
}

.quote{
    display: flex;
    font-size: 48px;
    font-style: italic;
    font-weight: 300;
}

.chatgpt{
    margin-bottom: 88px;
    text-align: left;
    font-size: 36px; 
    align-self: flex-end
}