/* General Styles */
* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.all {
    width: 1200px;     
    margin: 0 auto;    
    padding: 0;
}

/* Header Section */
.headerback {
    background-color: #1D202C;
    color: white;
    border-bottom: 4px solid white;
}

.header {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    gap: 60px;
}

.icon {
    max-width: 100px;
    max-height: 75px;
}

/* Main Section */
.sec1back {
    background-color: #1D202C;
    color: white;
    min-height: 480px;
}

.sec1 {
    display: flex;
    padding-top: 88px;
    justify-content: space-between;
    align-items: center;
}

.maintxt1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 300px;
    width: 500px;
}

.bigtxt {
    font-size: 48px;
    font-weight: 800;
}

.btn1 {
    max-width: 360px;
    padding: 14px;
    margin: auto 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: #587DFF;
}

/* Popular Picks Section */
.sec2 {
    display: flex;
    padding-top: 88px;
    flex-wrap: wrap;
}

h2 {
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    align-content: center;
    font-size: 48px;
    font-weight: 800;
    color: #1D202C;
    margin-bottom: 88px;
}

.items {
    display: flex;
    margin: auto;
    gap: 80px;
    margin-bottom: 88px;
}

.img1, .img2, .img3 {
    width: 300px;
    height: 300px;
}

.imgtxt {
    color: #1D202C;
    text-align: center;
    margin-top: 20px;
}

/* Quote Section */
.sec3back {
    background-color: #d9d9d9;
    color: #1D202C;
    min-height: 480px;
}

.sec3 {
    display: flex;
    flex-direction: column;
    gap: 28px;
    justify-content: center;
    align-items: center;
    padding-top: 88px;
    width: 900px;
    margin: auto;
}

.quote {
    display: flex;
    font-size: 48px;
    font-style: italic;
    font-weight: 300;
}

.chatgpt {
    margin-bottom: 88px;
    text-align: left;
    font-size: 36px; 
    font-weight: 700;
    align-self: flex-end;
}

/* Sign-up Section */
.sec4 {
    display: flex;
    margin-top: 88px;
    margin-bottom: 88px;
}

.container {
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    width: 960px;
    height: 280px;
    background-color: #587DFF;
    color: white;
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-content: space-between;
    padding: 80px;
}

.btn2 {
    width: 160px;
    padding: 14px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: #587DFF;
    border: 4px solid white;
}

h3 {
    font-size: 32px; 
    font-weight: 700;
}

.waifer {
    width: 500px;
    height: 280px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: center;
}

/* Footer Section */
.footer {
    display: flex;
    background-color: #1D202C;
    color: white;
    height: 60px;
    justify-content: center;
    align-items: center;
}